[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
pylast = "*"
python-twitter = "*"

[requires]
python_version = "3.6"
